<div #listPhotoContent class="row">
    <nav *ngIf="!!albumName" class="navbar navbar-light">
        <a class="navbar-brand" href="#" (click)="goBackFromAlbumContent()">
            <div class="icon_container_backward">
                <i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i>
                <i class="fa fa-folder" aria-hidden="true"></i>
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>
            {{albumName}}
        </a>
    </nav>
    <div *ngIf="arrPhoto" class="row">
        <div class="row">
            <div *ngFor="let photo of arrPhoto" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail" (click)="showPhotoInfoContent(photo)">
                    <div class="image" [style.background-image]="'url(' + photo.src_big + ')'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<photo #photoInfoContent  (backwardFromPhotoInfo)="onBackwardFromPhotoInfo($event)"></photo>
<alert [errorMessage]="alertMessage"></alert>