nav {
    margin-top: 0;
}
nav a {
    background-color: transparent;
}

.icon_container_backward {
    display: inline-block;
    position: relative;
    width: 33px;
    margin-right: 9px;
}

.fa-lg {
    font-size: 13px;
    vertical-align: 5%;
}

.navbar {
    width: 100%;
    padding: 0;
}

.navbar-brand {
    color: #7e7e7e;
    text-align: left;
    font-size: inherit;
}

/*.thumbnail {
    display: block;
    position: relative;
    padding: 4px;
    height: 141px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
}*/

.thumbnail {
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    margin-bottom: 25px;
}

.photo_item {
    width: 50%;
    height: 80%;
}

.image {
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.fa-check {
    color: #1772c4
}
.select_photo {
    color: #85a9bc;
}

.caption {
    background-color: #efefef;
    height: 23px;
    padding: 1px 4px 4px 5px;
    border-top: inherit;
    position: relative;
} 

.fa-caret-down {
    position: absolute;
    bottom: 1px;
    right: -8px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: rotateX;
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
}


.thumbnail .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    opacity: 0.7;
    top: 92%;
    left: 29%;
    margin-left: -60px;
}

.thumbnail .tooltiptext::before, .thumbnail .tooltiptext::after {
    left: 50%;
    transform: translateX(-50%);
    content: "";
}

.thumbnail .tooltiptext::after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.thumbnail:hover .tooltiptext {
    visibility: visible;
}
