.thumbnail {
    display: block;
    position: relative;
    padding: 4px;
    height: 141px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
}

.image {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 768px){
    .col-sm-6 {
        width: 24%;
    }
}
