<div #listPhotoContent class="row">
    <nav *ngIf="!!albumName" class="navbar navbar-light">
        <a class="navbar-brand" href="#" (click)="goBackFromAlbumContent()">
            <div class="icon_container_backward">
                <i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i>
                <i class="fa fa-folder" aria-hidden="true"></i>
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>
            {{albumName}}
        </a>
    </nav>
    <div *ngIf="arrPhoto" class="row">
       <div class="col-md-3 col-xs-4 col-sm-6 col-lg-2" *ngFor="let photo of arrPhoto" >
        <div class="thumbnail">
            <a href="#"  (click)="showPhotoInfoContent(photo)">
                <div class="image hidden-md-up"  style="height: 300px" 
                    [style.background-image]="'url(' + photo.src_xxbig + ')'"></div>
                <div class="image hidden-lg-up hidden-sm-down"  style="height: 250px" 
                    [style.background-image]="'url(' + photo.src_xbig + ')'"></div>
                <div class="image hidden-md-down"  style="height: 200px" 
                    [style.background-image]="'url(' + photo.src_big + ')'"></div>
                <!--<img class="photo_item" src="{{photo.src_big}}" alt="Lights">-->
                <div class="caption">
                    <p class="select_photo"><i class="fa fa-check" aria-hidden="true"></i>Select</p>
                </div>
            </a>
            <span class="tooltiptext row justify-content-center">
                <div class="col-md-3">Caption:</div> 
                <div class="col-md-9">{{photo.text}}
                    <p *ngIf="photo.likes"><i class="fa  fa-thumbs-o-up" aria-hidden="true"></i>
                        {{photo.likes.count}}
                    </p>
                    <p *ngIf="photo.comments"><i class="fa fa-comment-o" aria-hidden="true"></i>
                        {{photo.comments.count}}
                    </p>
                    <p *ngIf="photo.reposts"><i class="fa fa-share" aria-hidden="true"></i>
                        {{photo.reposts.count}}
                    </p>
                </div> 
            </span>
        </div>
       </div>
    </div>
</div>
<photo #photoInfoContent  (backwardFromPhotoInfo)="onBackwardFromPhotoInfo($event)"></photo>
<alert [errorMessage]="alertMessage"></alert>