nav {
    margin-top: 0;
}
nav a {
    background-color: transparent;
    /*color: white;
    padding: 8px 16px;
    vertical-align: middle;
    line-height: 1.25;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;*/
}

.icon_container_backward {
    display: inline-block;
    position: relative;
    width: 33px;
    margin-right: 9px;
}

.fa-lg {
    font-size: 13px;
    vertical-align: 5%;
}

.navbar {
    width: 100%;
    padding: 0;
}

.navbar-brand {
    color: #7e7e7e;
    text-align: left;
    font-size: inherit;
}

.thumbnail {
    display: block;
    position: relative;
    padding: 4px;
    height: 141px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
}

.image {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}



.fa-caret-down {
    position: absolute;
    bottom: 1px;
    right: -8px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: rotateX;
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
}
