<div #photoContent>
    <div (click)="goBackFromPhotoContent()">
        <button class="btn">
        <!--<i class="fa fa-chevron-left" aria-hidden="true"></i>-->
        <!--<i class="fa fa-folder" aria-hidden="true"></i>-->
        <i class="fa fa-caret-down" aria-hidden="true"></i>
        </button>
    </div>
    <div class="container" *ngIf="photoInfo">
        <p>Test</p>
        <img src="{{photoInfo.src_big}}">
        <!--<div>{{album.thumbPhoto.src}}</div>-->
    </div>
</div>
<alert [errorMessage]="alertMessage"></alert>
