<div *ngIf="currentUser" class="raw">Welcome {{fullName}}</div>
<div #arrayAlbumContent>

  <div *ngFor="let album of arrayAlbums" class="list-group">
    <button class="list-group-item" (click)="getSelectedAlbumContent(album)">
        <img *ngIf="album.thumbPhoto" src="{{album.thumbPhoto.src}}">
        <div class="title">{{album.aid}}</div>
    </button>
  </div>
</div>
<!--<list-photo #listPhotoContent (backwardFromAlbum)="onBackwardFromAlbumContent($event)"></list-photo>-->
<alert [errorMessage]="alertMessage"></alert>
