<div #arrayAlbumContent >
  <div *ngIf="currentUser" class="row username">Welcome, {{fullName}}.</div>
  <div class="list-group">
    <button *ngFor="let album of arrayAlbums" class="list-group-item d-flex justify-content-start" (click)="getSelectedAlbumContent(album)">
        <div class="thumb" *ngIf="album.thumbPhoto" [style.background-image]="'url(' + album.thumbPhoto.src_big + ')'"></div>
        <div class="p-2 album_info">
          <p class="album_title">{{album.title}}</p>
          <p><i class="fa fa-folder-open" aria-hidden="true"></i>{{album.size}} files</p>
          <p><i class="fa fa-clock-o" aria-hidden="true"></i>{{ (album.updated | amFromUnix) | amTimeAgo}}</p>
          </div>
        <i class="fa fa-angle-double-right ml-auto fa-3x hidden-xs-down" aria-hidden="true"></i>
    </button>
  </div>
</div>
<list-photo #listPhotoContent (backwardFromAlbum)="onBackwardFromAlbumContent($event)"></list-photo>
<alert [errorMessage]="alertMessage"></alert>
