<div *ngIf="albums">
    <select class="form-control" id="sel1" (change)="onSelectAlbum($event.target.value)">
        <option *ngFor="let album of albums" [value]="album.id">{{album.title}}</option>
    </select>
    <!--<image-upload [max]="5"-->
                  <!--[url]= "'//pu.vk.com/c837124/upload.php?act=do_add&mid=55918433&aid=160915003&…58128d8c10ff413f5&rhash=6afc5d52597948cd7da36474395a4423&swfupload=1&api=1'"-->
                  <!--[buttonCaption]="'Select Images!'"-->
                  <!--[headers]="[-->
                    <!--{header: 'Access-Control-Allow-Origin', value: 'null'},-->
                    <!--{header: 'Access-Control-Allow-Methods', value: 'GET,PUT,POST,DELETE, OPTIONS'},-->
                    <!--{header: 'Access-Control-Allow-Headers', value: 'Content-Type'},-->
                    <!--{header: 'Access-Control-Allow-Credentials', value: 'true'}-->
                  <!--]"-->
                  <!--[dropBoxMessage]="'Drop your images here!'"-->
                  <!--(onFileUploadFinish)="imageUploaded($event)"-->
                  <!--(onRemove)="imageRemoved($event)"-->
                  <!--(isPending)="disableSendButton($event)">-->
    <!--</image-upload>-->
  <!--<input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>-->
  <!--<input #uploader type="file" name="file" id="fileupload" (change)="fileChanged($event)" multiple/>-->
  <input type="file" (change)="onChange($event)"/>

  <button class="btn" (click)="uploadFile()">Upload</button>
  <button class="btn" (click)="uploadShow()">Show uploader</button>
</div>
<alert [errorMessage]="alertMessage"></alert>
