<search (startSearch)="onStartedSearch($event)"></search>
<authorization *ngIf="!userLogged"></authorization>
<tabset>
  <tab>
    <template tabHeading>
      <i class="fa fa-picture-o" aria-hidden="true"></i>
    </template>
    <list-albums></list-albums>
  </tab>
  <tab>
    <template tabHeading>
      <i class="fa fa-search" aria-hidden="true"></i>
    </template>
    <!--<list-photo #searchPhotoContent></list-photo>-->
    <search-result #searchPhotoContent></search-result>
  </tab>
</tabset>
<router-outlet></router-outlet>
