<div>
  <search (startSearch)="onStartedSearch($event)"></search>
  <authorization *ngIf="!userLogged"></authorization>
  <tabset>
    <tab>
      <template tabHeading>
        <i class="fa fa-picture-o" aria-hidden="true"></i>
      </template>
      <list-albums></list-albums>
    </tab>
    <tab>
      <template tabHeading>
        <i #tabSearchResult class="fa fa-search" aria-hidden="true"></i>
      </template>
      <search-result #searchPhotoContent></search-result>
    </tab>
    <tab>
      <template tabHeading>
        <i class="fa fa-upload" aria-hidden="true"></i>
      </template>
      <image-uploader></image-uploader>
    </tab>
  </tabset>
  <router-outlet></router-outlet>
</div>
