nav {
    margin-top: 10px;
    padding: 0;
    height: 43px;
    width: 100%;
    background: #373737;
    display: block;
    margin: 0 auto;
}

nav .form-control {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-right: 1px;
    margin-top: 7px;
    margin-right: 3px;
    height: 27px;
    padding-right: 4px;
    padding-left: 19px;
    background: #6e6e6e;   
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 16px;
}

.wrapper-input {
    display: inline-block;
    position: relative;
    margin-right: 3px;
    width: 50%;
}

.fa-search {
    float: left;
    margin-top: -21px;
    position: relative;
    z-index: 10;
    margin-left: 5px;
}

    input:focus {
        color: white;
        border-radius: 16px;
    }

    ::-webkit-input-placeholder { /* Chrome */
        color: white;
        transition: opacity 250ms ease-in-out;
    }
        :focus::-webkit-input-placeholder {
        opacity: 0.5;
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: white;
        transition: opacity 250ms ease-in-out;
    }
    :focus:-ms-input-placeholder {
        opacity: 0.5;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        color: white;
        opacity: 1;
        transition: opacity 250ms ease-in-out;
    }
    :focus::-moz-placeholder {
        opacity: 0.5;
    }
    :-moz-placeholder { /* Firefox 4 - 18 */
        color: white;
        opacity: 1;
        transition: opacity 250ms ease-in-out;
    }
    :focus:-moz-placeholder {
        opacity: 0.5;
    }
